<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>{{ pageTitle }} - JS Sessions briefs</title>
      <link rel="stylesheet" href="{{ '/css/main.css' | url }}">
   </head>
   <body>
      <header class="header u-wrapper">
         <a href="{{ '/' | url }}" class="header__home-link">
            <span class="header__js-styled header__js-styled--small">JS</span> Sessions
         </a>
      </header>
      
      <main class="u-wrapper">
         <h1 class="heading--post">{{ pageTitle }}</h1>

         {{ content }}
      
         <br>
         <a href="{{ '/' | url }}" class="cta cta--post">&lsaquo; BACK HOME</a>
      </main>

      <footer class="footer u-wrapper">
         <p class="footer__text">David Krapka, 2019</p>
      </footer>

      <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto:300,500&display=swap" rel="stylesheet">
   </body>
</html>